.hero-container{
    position: relative;
    z-index: 100;
}

.hero-text {
    position: relative;
    z-index: 200;
}

.hero-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
}

.web-developer {
    border: 4px solid #181515; 
    border-radius: 50%; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 
}

.card {
    border: none;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
}

.hero-container {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 50px 0; 
    text-align: center;
    color: #fff;
    overflow: hidden; 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));  
  }
  
  .hero-text {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 20px; 
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .hero-text {
      font-size: 2rem; /* Adjust the font size for smaller screens */
    }
  }

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #1f1f1f; 
    color: #212529; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  

h2,p, h4 {
  color: #ffffff; 
}


.card {
    background-color: #2e2d2d; 
    color: #fff; 
  }
  
  .card-footer {
    background-color: #0c0b0b; 
  }

.btn-show-details {
    background-color: #555;
    color: #fff;
    border-color: #555; 
    background-image: linear-gradient(to bottom, #666, #555); 
  }
  
  
  .btn-show-details:hover {
    background-color: #444; 
    border-color: #444; 
  }
  
  
  